
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
h1{
    font-family: Audiowide, serif;
    font-size: calc(1.8rem + 3vw);
    color: rgb(255,255,255);
    font-weight: 800;
}
.social-icons{
    color:#313437;
    text-align:center;
    background: linear-gradient(80deg, black, rgb(0,18,25) 58%, #000000 100%);
}
.social-icons i{
    transition:.25s;
    font-size:40px;
    display:inline-block;
    color:#757980;
    margin:0 10px;
    width:60px;
    height:60px;
    text-align:center;
    border-radius:50%;
    line-height:60px;
}
.social-icons i:hover{
    transform:scale(1.5);color:#fff
}

@media only screen and (max-width: 500px) {
  body {
    background: linear-gradient(148deg, black, rgb(0,18,25) 58%, #000000 100%);
   }
  h1{
    font-size: calc(1.6rem + 2vw);
  }
}
@media only screen and (max-width: 374px) {
  h1{
    font-size: calc(1.4rem + 2vw);
  }
}
